@keyframes sobeDesce_botaoJogar {
  0% { top: 210px; }
  100% { top: 300px; }
}

@keyframes sobeDesce_avatar {
  0% { top: -20px; }
  100% { top: 50px; }
}

img {
  width: 130px;
  height: 130px;
}
.conteudo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container {
  width: 430px;
  height: 420px;
  border-radius: 30px;
  text-align: center;
  color: black;
  background-color: #6DE1D2;
}
.container2 {
  background-color: #F75A5A;
}
.avatar {
  height: 220px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.container input {
  width: 250px;
  height: 40px;
  align-self: center;
  border-radius: 10px;
  border-color: #000000;
  margin-bottom: 0px;
  font-size: 30px;
  text-align: center;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
}
.avatar button {
  width: 100px;
  height: 100px;
  background: none;
  border: none;
  cursor: pointer;
  filter: drop-shadow(-10px 10px 5px rgba(0, 0, 0, 0.5));
  position: relative; 
  animation: sobeDesce_avatar 2s infinite alternate; 

}
#avatar1_jogador1, #avatar1_jogador2{
  animation: sobeDesce_avatar 2s infinite alternate-reverse;
}
#avatar2_jogador1, #avatar2_jogador2{
  animation: sobeDesce_avatar 2.5s infinite alternate-reverse;
}
#avatar3_jogador1, #avatar3_jogador2{
  animation: sobeDesce_avatar 2.5s infinite alternate;
}
#avatar4_jogador1, #avatar4_jogador2{
  animation: sobeDesce_avatar 2s infinite alternate;
}
.avatar button:hover {
  filter: drop-shadow(10px 10px 5px #ffffff);
}

.div_botao_jogar{
  width: 220px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.div_botao_jogar button {
  background: none;
  border: none; 
  position: absolute; 
  animation: sobeDesce_botaoJogar 2s infinite alternate;
}
.apelido1 {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}
.apelido2 {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}