@keyframes sobeDesce_botaoJogar {
  0% { top: 440px; }
  100% { top: 480px; }
}

@keyframes sobeDesce_avatar {
  0% { right: 0px; }
  100% { right: 30px; }
}
.conteudo {
  background-image: url(/public/assets/image/fundo_cadastro.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
img {
  width: 130px;
  height: 130px;
}
.container {
  margin-left: 570px;
  padding-top: 1px;
  width: 730px;
  height: 420px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  gap: 50px;
}
.jogador1, .jogador2{
  height: 220px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 15px;
}
.container input {
  width: 150px;
  height: 40px;
  align-self: center;
  border-radius: 10px;
  border-color: #ffffff;
  margin-bottom: 0px;
  font-size: 30px;
  text-align: center;
  background: none;
  border: none;
  margin-left: 130px;
}
.container button {
  width: 100px;
  height: 100px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative; 
  animation: sobeDesce_avatar 2s infinite alternate; 

}
#avatar1_jogador1, #avatar1_jogador2{
  animation: sobeDesce_avatar 2s infinite alternate-reverse;
}
#avatar2_jogador1, #avatar2_jogador2{
  animation: sobeDesce_avatar 2s infinite alternate-reverse;
}
#avatar3_jogador1, #avatar3_jogador2{
  animation: sobeDesce_avatar 2s infinite alternate;
}
#avatar4_jogador1, #avatar4_jogador2{
  animation: sobeDesce_avatar 2s infinite alternate;
}
.avatar button:hover {
  filter: drop-shadow(10px 10px 5px #ffffff);
}

.div_botao_jogar{
  margin-left: 830px;
  width: 220px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.div_botao_jogar button {
 background-image: url(/public/assets/image/botao_jogar.png);
  width: 245px;
  height: 75px;
  position: absolute; 
  background-color: transparent;
  border: none;
   animation: sobeDesce_botaoJogar 2s infinite alternate; 
}
.div_botao_jogar button:hover {
  filter: drop-shadow(10px 10px 5px #ffe600);
}
.apelido1 {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}
.apelido2 {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}