.conteudo {
    display: flex;
    align-content: center;
    justify-content: center;
}
.container {
    margin: 70px;
    width: 600px;
    height: 275px;
    border-radius: 20px;
    background-color: #F75A5A;
    text-align: center;
}
.container .div_pergunta {
    margin: 80px 30px 0px 30px;
    color: white;
}
.container .div_resposta {
    display: flex;
    flex-direction: row;
    width: 520px;
    margin: 40px;
    justify-content: center;
    gap: 80px;
}
.div_resposta button {
    margin: px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    background-color: rgb(43, 43, 43);
    color: white;
    border-color: white;
}