.conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 550px;
}
.container {
    width: 700px;
    height: 400px;
    background-color: #F75A5A;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.container .div_pergunta {
    margin: 40px;
    color: white;
    font-size: 20px;
}
.div_pergunta h2 {
    margin: none;
}
.container .div_resposta {
    display: flex;
    flex-direction: row;
    width: 520px;
    justify-content: center;
    gap: 80px;
}
.div_resposta button {
    width: 100px;
    height: 50px;
    border-radius: 7px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.452);
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    border-color: white;
    color: rgb(0, 0, 0);
}
.div_resposta2 button {
    margin: 20px;
    width: 270px;
    height: 50px;
    border-radius: 7px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.452);
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    border-color: white;
    color: rgb(0, 0, 0);
}
.titulo {
    margin-right: 80px;
    font-size: 22px;
}